@model ProjectCatalog.Models.Produk

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Template/Backend.cshtml";
}

<h1>Details</h1>

<div class="card mb-4">
    <div class="card-header">
        Produk Details
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NamaProduk)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NamaProduk)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Harga)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Harga)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Deskripsi)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Deskripsi)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Kategori)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Kategori.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Supplier)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Supplier.Id)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
