@model IEnumerable<ProjectCatalog.Models.Produk>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Template/Backend.cshtml";
}

<h1 style="color: black;">Produk</h1>

<p>
    <a asp-action="Create" class="btn btn-dark" style="color: white;">Create New +</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-20">
            <div class="card mb-20 shadow-sm">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>Nama Produk</th>
                                <th>Harga</th>
                                <th>Deskripsi</th>
                                <th>Kategori</th>
                                <th>Supplier</th>
                                <th>Foto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td style="color: black;">@Html.DisplayFor(modelItem => item.NamaProduk)</td>
                                <td style="color: #000000">@Html.DisplayFor(modelItem => item.Harga)</td>
                                <td style="color: #000000">@Html.DisplayFor(modelItem => item.Deskripsi)</td>
                                <td style="color: #000000">@Html.DisplayFor(modelItem => item.Kategori.Id)</td>
                                <td style="color: #000000">@Html.DisplayFor(modelItem => item.Supplier.Id)</td>
                                <td><img src="~/image/produk/@item.ImageProduk" width="100"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
