@model IEnumerable<ProjectCatalog.Models.Kategori>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Template/Backend.cshtml";
}

<h1 style="color: black;">Kategori</h1>

<p>
    <a asp-action="Create" class="btn btn-dark" style="color: white;">Create New +</a>
</p>

<div class="card shadow-sm">
    <div class="card-body">
        <table class="table table-bordered" id="myTable">
            <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th>Nama</th> 
                    <th class="text-center">Aksi</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int nomor = 1;
                }
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td style="color: black;">@nomor</td>
                        <td style="color: black">@item.Name</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success mx-1" title="Edit">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning mx-1" title="Details">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger mx-1" title="Delete">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    nomor++;
                }
            </tbody>
        </table>
    </div>
</div>
